#food-level{
  border: 2px solid #FF9900;
  width: 150px;
  height: 150px;
  background-color: #FF9900;
  margin: 40px auto 0 auto;
}

#food-level p {
  text-align: center;
  font-weight: bold;

}

#sleep-level{
  border: 2px solid #6699FF;
  width: 150px;
  height: 150px;
  background-color: #6699FF;
  margin: 40px auto 0 auto;
}

#activity-level{
  border: 2px solid #7EBF7E;
  width: 150px;
  height: 150px;
  background-color: #7EBF7E;
  margin: 40px auto 0 auto;
}

#status{
  border: 2px solid #FF7A7A;
  width: 300px;
  height: 50px;
  background-color: #FF7A7A;
  margin: 40px auto 0 auto;


}
